
/*
	CREATED BY  :	AKHILESH KAMATE
	CREATED ON  :	19-DEC-2015
	DESCRIPTION :	THIS TABLE IS USED TO MAINTAIN SFTP FILE DETAILS
*/

IF EXISTS (SELECT NAME FROM SYS.TABLES WHERE UPPER(NAME) = 'du_MappingValuesException')
BEGIN	
	DROP TABLE du_MappingValuesException
END
GO	

CREATE TABLE [dbo].[du_MappingValuesException](
	[FromHRMS_DEPT] NVARCHAR(500) NULL,
	[FromHRMS_DESIGNATION] NVARCHAR(500) NULL,
	[RoleName] NVARCHAR(500) NULL,
	[Category] NVARCHAR(500) NULL,
	[SubCategory] NVARCHAR(500) NULL,
UNIQUE NONCLUSTERED 
(
	[FromHRMS_DEPT] ASC,
	[FromHRMS_DESIGNATION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


INSERT [dbo].[du_MappingValuesException] ([FromHRMS_DEPT], [FromHRMS_DESIGNATION], [RoleName], [Category], [SubCategory]) VALUES (N'C002:Risk', N'President', N'Insider - Designated Employee other than KMP , Promoter, Director', N'Designated Employee', N'Designated Person- Employee')
INSERT [dbo].[du_MappingValuesException] ([FromHRMS_DEPT], [FromHRMS_DESIGNATION], [RoleName], [Category], [SubCategory]) VALUES (N'C002:Corporate Relationship Group', N'President', N'Insider - Designated Employee other than KMP , Promoter, Director', N'Designated Employee', N'Designated Person- Employee')
INSERT [dbo].[du_MappingValuesException] ([FromHRMS_DEPT], [FromHRMS_DESIGNATION], [RoleName], [Category], [SubCategory]) VALUES (N'C002:SME', N'President', N'Insider - Designated Employee other than KMP , Promoter, Director', N'Designated Employee', N'Designated Person- Employee')

GO
print 'Processed 100 total records'


GO
print 'Processed 200 total records'

GO
print 'Processed 300 total records'


GO
print 'Processed 400 total records'

GO
print 'Processed 500 total records'
