body {
}

#Lbl_NSE{
     margin: 6px 0px 0px 370px;
     float: left;
}

#DD_NSE{
    margin: 0px 0px 0px -100px;
    float: left;
}

#btnProceed{
     margin: 0px 0px 0px -10px;
     float: left;
}

.DivLetter1{
    display:none;
}

.DivLetter{
        
    pointer-events: none;
    opacity: 20; 
    display:none;
    visibility:visible;
   
}

.Download_Pdf{
    background: url(../../images/NSEDownload/download-pdf.jpg);
    height: 27px;
    background-size: 25px 27px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    margin: -45px 0px 0px 61px; 
}

.Download_Excel{
    background: url(../../images/NSEDownload/download-excel.png);
    height: 27px;
    background-size: 25px 27px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    margin: -46px 0px 0px 91px;
}

.Download_Doc{
    background: url(../../images/NSEDownload/download-doc.png);
    height: 26px;
    background-size: 25px 26px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    margin: -47px 0px 0px 122px;
}

#MSG_NSE_VAL {
        margin: 45px 0px 0px 560px;
    float: left;
    color: red;
    position: absolute;
}

.Download_Pdf_For_Zero_Employee{
    background: url(../../images/NSEDownload/download-pdf.jpg);
    height: 27px;
    background-size: 25px 27px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    margin: -45px 0px 0px 61px;
    pointer-events: none;
    cursor: default;
   
}

.Download_Excel_For_Zero_Employee{
    background: url(../../images/NSEDownload/download-excel.png);
    height: 27px;
    background-size: 25px 27px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    margin: -46px 0px 0px 91px;
    pointer-events: none;
    cursor: default;
}

.Download_Doc_For_Zero_Employee{
    background: url(../../images/NSEDownload/download-doc.png);
    height: 26px;
    background-size: 25px 26px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    margin: -47px 0px 0px 122px;
    pointer-events: none;
    cursor: default;
}

.Download_Pdf_For_View_Only {
    background: url(../../images/NSEDownload/download-pdf.jpg);
    height: 27px;
    background-size: 25px 27px;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    margin: -45px 0px 0px 61px;
}

.NSE_Options{
    /*pointer-events: visible;
    cursor: default;*/
}

.NSE_Options_For_Zero_Employee{
    pointer-events: none;
    cursor: default;
}


/*-----------------For View/Delete Icon-------------*/
.NSE_View_Delete{
    background: url(../../images/NSEDownload/View-Delete.jpg);
    height: 25px;
    background-size: 50px 25px;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    margin: -5px 0px 0px 4px;
}


.NSE_View_Delete_For_Zero_Employee{
    background: url(../../images/NSEDownload/View-Delete.jpg);
    height: 25px;
    background-size: 50px 25px;
    background-repeat: no-repeat;
    display: block;
    width: 55px;
    margin: -5px 0px 0px 4px;
    pointer-events: none;
    cursor: default;      
}

.NSE_View_Delete_For_View_Employee{
    background: url(../../images/NSEDownload/View.jpg);
    height: 20px;
    background-size: 25px 18px;
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    margin: 0px 0px 0px 4px;     
}


