/*
   Wednesday, April 15, 201510:57:23 AM
   User: sa
   Server: EMERGEBOI
   Database: KPCS_InsiderTrading_Company1
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.eve_EventWorkflow
	(
	EventWorklowId int NOT NULL,
	EventSetCodeId int NOT NULL,
	EventCodeId int NOT NULL,
	SequenceNumber int NOT NULL
	)  ON [PRIMARY]
GO
DECLARE @v sql_variant 
SET @v = N'Refers com_Code
CodeGroupId = 152'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'eve_EventWorkflow', N'COLUMN', N'EventSetCodeId'
GO
DECLARE @v sql_variant 
SET @v = N'Refers com_Code
CodeGroupId = 153'
EXECUTE sp_addextendedproperty N'MS_Description', @v, N'SCHEMA', N'dbo', N'TABLE', N'eve_EventWorkflow', N'COLUMN', N'EventCodeId'
GO
ALTER TABLE dbo.eve_EventWorkflow ADD CONSTRAINT
	PK_eve_EventWorkflow PRIMARY KEY CLUSTERED 
	(
	EventWorklowId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.eve_EventWorkflow SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.eve_EventWorkflow', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.eve_EventWorkflow', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.eve_EventWorkflow', 'Object', 'CONTROL') as Contr_Per 

----------------------------------------------------------------------------------------------------------------------
/*
   Wednesday, April 15, 201510:58:49 AM
   User: sa
   Server: EMERGEBOI
   Database: KPCS_InsiderTrading_Company1
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.com_Code SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.com_Code', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.com_Code', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.com_Code', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.eve_EventWorkflow ADD CONSTRAINT
	FK_eve_EventWorkflow_com_Code_EventSetCodeId FOREIGN KEY
	(
	EventSetCodeId
	) REFERENCES dbo.com_Code
	(
	CodeID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.eve_EventWorkflow ADD CONSTRAINT
	FK_eve_EventWorkflow_com_Code_EventCodeId FOREIGN KEY
	(
	EventCodeId
	) REFERENCES dbo.com_Code
	(
	CodeID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.eve_EventWorkflow SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.eve_EventWorkflow', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.eve_EventWorkflow', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.eve_EventWorkflow', 'Object', 'CONTROL') as Contr_Per 
----------------------------------------------------------------------------------------------------------------------

INSERT INTO DBUpdateStatus (ScriptNumber, ScriptFileName, Description, CreatedBy)
VALUES (102, '102 eve_EventWorkflow_Create', 'Create eve_EventWorkflow', 'Arundhati')
