@model InsiderTrading.Models.PreclearanceRequestNonImplCompanyModel
@{
    ViewBag.Title = "_RelativeDetails";
    var html_attr = new Dictionary<string, object> { };
    html_attr.Add("class", "form-control");
    if (Model.PreclearanceStatusCodeId != null)
    {
        html_attr.Add("disabled", "disabled");
    }
}


    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <div class="form-group">
            @Html.Label(@InsiderTrading.Common.Common.getResource("dis_lbl_17079"))
            @Html.DropDownListFor(m => m.UserInfoIdRelative, new SelectList(ViewBag.RelativeDropDown, "Key", "Value", ""), html_attr)
        </div>
    </div>
