@model InsiderTrading.Models.PreclearanceRequestNonImplCompanyModel
@{
    ViewBag.Title = "_SecurityTypeDetails";
    var html_attr = new Dictionary<string, object> { };
    html_attr.Add("class", "form-control");
    if (Model != null && Model.PreclearanceStatusCodeId != null)
    {
        html_attr.Add("disabled", "disabled");
    }
}

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="form-group">
        @Html.LabelFor(m => m.SecurityTypeCodeId)
        @Html.DropDownListFor(m => m.SecurityTypeCodeId, new SelectList(ViewBag.SecurityDropDown, "Key", "Value", ""), html_attr)
        @Html.ValidationMessageFor(m => m.SecurityTypeCodeId)
        @Html.HiddenFor(m => m.SecurityTypeCodeId)

    </div>
</div>
