<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=ESPS-TS-01;initial catalog=Vigilante_Master;persist security info=True;user id=VigilanteDBUser;Password=DBUser@123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Polling time for sending reminder emails. -->
    <add key="ServicePollTime" value="1" />
    <!-- Polling time for sending Unit 1 - Milliseconds,
                                       2 - Seconds
                                       3 - Minutes
                                       4 -  Hours,
                                       5 - Days -->
    <add key="ServicePollTimeUnit" value="3" />
    <!-- Set WriteEventLogFlag 1: Write Events Log 0: Do not write Event Logs-->
    <add key="WriteEventLogFlag" value="1" />
    <!-- Keys for SMTP creditional. -->
    <!-- Keys for EnableSSL. -->
    <add key="EnableSsl" value="true" />
    <!-- Keys for UseDefaultCredentials. -->
    <add key="UseDefaultCredentials" value="false" />
    <!-- Keys for SMTP Host Name. -->
    <add key="SMTPHostName" value="" />
    <!-- Keys for SMTP System Admin. -->
    <add key="SMTPSystemAdmin" value="" />
    <!-- Keys for SMTP System Admin Password. -->
    <add key="SMTPSystemAdminPassword" value="" />
    <!--The option to either send email or not-->
    <add key="SendEmails" value="true" />
    <!--The option if to consider live users or dummy users which is mentioned below-->
    <add key="LiveService" value="false" />
    <!--The test user to whom the emails should be sent if LiveService is set to false-->
    <add key="TestingUserEmailAddress" value="" />
    <!--This key used for check this window service which companies used (store Company Database Name)-->
    <add key="EmailServiceForCompanies" value="" />
    <!--Error Log File Path-->
    <add key="LoggingFilePath" value="" />
  </appSettings>
</configuration>