<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <p>
            <h2>test 2</h2>
        </p>
        @RenderBody()
    </div>
</body>
</html>
