@model InsiderTrading.Models.EmployeeModel

<div role="form">
    <div class="form-group">
        @Html.LabelFor(m => m.userInfoModel.SubDesignationId)
        @if (ViewBag.SubDesignationDropDown.Count > 1)
        {
            @Html.DropDownListFor(m => m.userInfoModel.SubDesignationId, new SelectList(ViewBag.SubDesignationDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.userInfoModel.SubDesignationId).ToString(), Html.ActivityResourceKeyFor(m => m.userInfoModel.SubDesignationId).ToString(), new { @class = "form-control" }))
        }
        else
        {
            @Html.DropDownListFor(m => m.userInfoModel.SubDesignationId, new SelectList(ViewBag.SubDesignationDropDown, "Key", "Value", ""), InsiderTrading.Common.Common.IsEditable(Html.ReourceKeyFor(m => m.userInfoModel.SubDesignationId).ToString(), Html.ActivityResourceKeyFor(m => m.userInfoModel.SubDesignationId).ToString(), new { @class = "form-control", @disabled = "disabled" }))
        }
        @Html.ValidationMessageFor(m => m.userInfoModel.SubDesignationId)
    </div>
</div>
