@model InsiderTrading.Models.TradingPolicyModel_OS
@{
    ViewBag.Title = "_ContinuousLimits_OS";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>
<div class="form-group" id="SingleTransactionDiv">
    @{
        
        if (Model.StExSingMultiTransTradeFlagCodeId == InsiderTrading.Common.ConstEnum.Code.MultipleTransactionTrade)
        {
            @Html.Partial("~/Views/TradingPolicy_OS/_MultipleTransactionTrade_OS.cshtml")
        }
    }
</div>
@{
    if (Model.StExForAllSecuritiesFlag != null)
    {
        <div class="row" id="ContinousSecuritywiseLimitList">


        </div>
    }
}

<script type="text/javascript">

    $(document).ready(function () {

        $(':radio[name="StExSingMultiTransTradeFlagCodeId"]').change(function () {
            var values = $("#frmTradingPolicy").serializeArray();
            values.push({
                name: "acid",
                value: $("#TradingPolicyUserAction").val()
            });
            var a = $(this).filter(':checked').val();
            if (a == 136002) {
                $('#SingleTransactionDiv').html("");
                $.ajax({
                    url: $("#RadioButtonChangeTransaction").val(),
                    type: 'post',
                    headers: getRVToken(),
                    cache: false,
                    data: values,
                    success: function (result) {
                        $('#SingleTransactionDiv').html(result);
                    },
                    error: function (result) {
                    }
                });
            }
            else {
                $('#SingleTransactionDiv').empty();
            }
        });
        
    });


</script>
