@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@{ ViewBag.Title = "Index"; }

<h2>Index</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign-In with Microsoft Guide</title>
</head>
<body>



</body>
</html>