@{
    ViewBag.Title = "Home Page";
}


@*@ViewBag.ErrorMessage*@

<div style="width: 750px; margin: 0px auto;">
    <div style="height: 100px;"></div>
    <h3 style="text-align: center; font-size: 25px; color: #9ea0a4">Welcome To Vigilanté SSO</h3>
    <br />
    <div style="text-align: left; background-color: #fff;padding-top:15px;">  
        <div style="align-items: center; color: red;">      
             <h2 style="text-align:center;">Authentication Failed. Please Contact Administrator.</h2>
        </div>
    </div>
</div>