@model List<InsiderTrading.Models.DocumentDetailsModel>
@{
    ViewBag.Title = "ViewUploadedDocument";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @Html.AntiForgeryToken()
</section>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clsFileUpload">
    @if (Model != null && Model.Count > 0)
    {
        foreach (InsiderTrading.Models.DocumentDetailsModel obj in Model)
        {
            //check if file is upload or not
            if (obj.DocumentId != null)
            {
                @Html.ActionLink(obj.DocumentName, "Download", "Document", new { nDocumentDetailsID = obj.DocumentId, GUID = obj.GUID, sDocumentName = obj.DocumentName, sFileType = obj.FileType }, null)
            }
        }
    }
</div>



