<table>
    <tr>
        <td>
            <a class="btn btn-success icon" id="btnFileImport" data-toggle="modal" href='@Url.Action("OpenFileUploadDialog", "MassUpload", new { acid = ViewBag.acid,massuploadid = ViewBag.MassUploadId })' role="button"> Start Mass Upload</a>
        </td>
    </tr>
</table>