@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error occurred in application";
    Layout = "~/Views/Shared/Error.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    
</section>

<h1 class="text-danger">Error!!!!!</h1>

<h2 class="text-danger">
    Some error occurred in the application, please try the request again and if the problem persists then please contact the administrator.
 </h2>