
@{
    ViewBag.Title = "HttpError404";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h2>Not Found</h2>

<div class="alert alert-info">
    <h3>Whoops...</h3>
    The Resource you are looking for doesn't exist.
</div>

