@model InsiderTrading.Models.SecurityTransferLogModel
@{
    ViewBag.Title = "_RelativeDetails";
}


<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="form-group">
        @Html.Label(@InsiderTrading.Common.Common.getResource("usr_lbl_11446"))
        @Html.DropDownListFor(m => m.ForUserInfoId, new SelectList(ViewBag.UserInfoRelativeList, "Key", "Value", ""), new { @class = "form-control" })
    </div>
</div>