
@{
    ViewBag.Title = "HttpError505";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="alert alert-info">
    <h3>Whoops...</h3>
    Some error occurred in the application, please try the request again and if the problem persists then please contact the administrator.
</div>